{% extends "shop/layouts/base.html" %} 

{% block title %} Order Summary{%endblock %} 

{% block content %}
<h1 class="my-4 text-3xl font-semibold text-center text-text-900">Order Summary</h1>
<div class="flex flex-col items-center justify-center">
  <div class="relative overflow-x-auto border shadow-md sm:rounded-lg md:w-2/3 border-background-100">
      <table class="w-full text-sm text-left md:p-8 text-text-500">
          <thead class="text-xs uppercase border-b text-text-700 bg-background-50 border-background-100">
              <tr>
                  <th
                      scope="col"
                      class="px-6 py-3">
                      Product Name
                  </th>
                  <th
                      scope="col"
                      class="px-6 py-3">
                      Unit Price
                  </th>
                  <th
                      scope="col"
                      class="px-6 py-3">
                      Quantity
                  </th>
                  <th
                      scope="col"
                      class="px-6 py-3">
                      Total
                  </th>
              </tr>
          </thead>
          <tbody>
            {% for item in order.items.all %}
              <tr class="border-b border-background-100 bg-background-50">
                  <th
                      scope="row"
                      class="px-6 py-4 font-medium text-text-900 whitespace-nowrap">
                      {{ item.product.name }}
                  </th>
                  <td class="px-6 py-4">{{ item.price }}</td>
                  <td class="px-6 py-4">{{ item.quantity }}</td>
                  <td class="px-6 py-4">৳ {{ item.get_cost }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr class="font-semibold text-text-900 bg-background-50">
                <th scope="row" class="px-6 py-3 text-base">Total</th>
                <td class="px-6 py-3"></td>
                <td class="px-6 py-3"></td>
                <td class="px-6 py-3">৳ {{ order.total_price }}</td>
            </tr>
          </tfoot>
      </table>
  </div>

  <form action="{% url 'payment_process' %}" method="POST" class="mt-4">
      {% csrf_token %}
      <button
          type="submit"
          class="group text-text-50 inline-flex items-center bg-primary-500 hover:bg-primary-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg px-5 py-2.5 text-center">
          Confirm Order
          <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 ml-1 -mr-1 transition-all duration-500 ease-in-out group-hover:ml-3">
              <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
          </svg>
      </button>
    </form>
</div>
{% endblock %}
