<div
    class="w-full max-w-sm overflow-hidden border rounded-lg shadow border-background-200 bg-background-50 group">
    <a
        href="{% url 'category_details' category.slug %}"
        class="block w-full h-40 overflow-hidden">
        <img
            class="object-cover w-full h-full transition duration-500 ease-in-out rounded-t-lg group-hover:scale-105"
            src="media/{{category.category_image}}"
            alt="{{category.name}}" />
    </a>
    <div class="px-2 pt-1 pb-2">
        <a href="#">
            <h5 class="text-lg font-semibold tracking-tight text-text-900">
                {{category.name}}
            </h5>
        </a>
    </div>
</div>
