{% load static %}

<nav
    class="sticky top-0 z-50 w-full transition-colors duration-500 border-b border-background-200 backdrop-blur bg-background-100">
    <div
        class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
        <!--Left Section-->
        <a
            href="/"
            class="flex items-center">
            <!--Branding-->
            <img
                src="{% static 'images/logo.webp' %}"
                class="h-8 mr-3"
                alt="Site Logo" />
            <span class="self-center hidden text-2xl font-semibold whitespace-nowrap text-text-800 hover:text-text-500 md:block"
                >UniqueMart</span
            >
        </a>

        <!--Right Section-->
        <div class="flex items-center gap-4 md:gap-14 md:order-2">
            <!-- Desktop Dropdown Menu -->
            <div class="hidden group md:block">
                <!-- Dropdown menu trigger -->
                <button
                    id="dropdownNavbarLink"
                    class="flex items-center justify-center w-full py-2 transition-colors duration-300 transform rounded text-text-800 md:border-0 hover:text-text-500 focus:outline-primary-400">
                    Menu<svg
                        class="w-2.5 h-2.5 ml-2.5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6">
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <!-- Dropdown menu items -->
                <div
                    id="dropdownNavbar"
                    class="absolute z-50 hidden font-normal divide-y rounded-md shadow bg-background-50 divide-background-100 w-36 group-hover:block">
                    <ul
                        class="py-2 text-sm text-text-900"
                        aria-labelledby="dropdownLargeButton">
                        <li>
                            <a
                                href="#"
                                class="block px-4 py-2 hover:bg-background-100"
                                >Profile</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="block px-4 py-2 hover:bg-background-100"
                                >Orders</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="block px-4 py-2 hover:bg-background-100"
                                >Settings</a
                            >
                        </li>
                    </ul>
                    <div class="py-1">
                        <a
                            href="#"
                            class="block px-4 py-2 text-sm text-text-800 hover:bg-background-100"
                            >Sign out</a
                        >
                    </div>
                </div>
            </div>

            <!-- Theme toggle -->
            <btn
                id="dark-theme-switch"
                class="relative transition-colors duration-300 transform cursor-pointer text-text-800 hover:text-text-500"
                onclick="setDarkTheme()">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                </svg>
            </btn>
            <btn
                id="light-theme-switch"
                class="relative transition-colors duration-300 transform cursor-pointer text-text-800 hover:text-text-500"
                onclick="setLightTheme()">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                </svg>
            </btn>

            <!--Theme Switcher Script-->
            <script>
                const lightThemeSwitch = document.querySelector(
                    "#light-theme-switch"
                );
                const darkThemeSwitch =
                    document.querySelector("#dark-theme-switch");
                if (
                    localStorage.theme === "dark" ||
                    (!("theme" in localStorage) &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches)
                ) {
                    document.documentElement.classList.add("dark");
                    darkThemeSwitch.hidden = true;
                    lightThemeSwitch.hidden = false;
                } else {
                    document.documentElement.classList.remove("dark");
                    lightThemeSwitch.hidden = true;
                    darkThemeSwitch.hidden = false;
                }

                function setDarkTheme() {
                    darkThemeSwitch.hidden = true;
                    lightThemeSwitch.hidden = false;
                    document.documentElement.classList.add("dark");
                    localStorage.theme = "dark";
                }

                function setLightTheme() {
                    lightThemeSwitch.hidden = true;
                    darkThemeSwitch.hidden = false;
                    document.documentElement.classList.remove("dark");
                    localStorage.theme = "light";
                }
            </script>

            <!--Cart Button-->
            <a
                class="relative transition-colors duration-300 transform text-text-800 group"
                href="{% url 'cart_details' %}">
                <svg
                    class="w-6 h-6 group-hover:text-text-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>

                {% if cart_items > 0 %}
                <span
                    id="cart-items-counter"
                    class="absolute px-2 py-1 text-xs font-bold rounded-full text-text-900 -right-3 bg-primary-200 -top-3 group-hover:bg-primary-100">
                    {{ cart_items }}
                </span>
                {% endif %}
            </a>

            <!--Mobile Menu Trigger-->
            <button
                data-collapse-toggle="navbar-sticky"
                type="button"
                class="inline-flex items-center justify-center w-10 h-10 text-sm rounded-lg text-text-800 md:hidden hover:text-text-500"
                aria-controls="navbar-sticky"
                aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 17 14">
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>

        <!--Middle Section-->
        <div
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
            id="navbar-sticky">
            <ul
                class="flex flex-col items-center p-2 mt-4 font-medium border rounded-lg border-background-50 md:p-0 md:flex-row md:space-x-8 md:mt-0 md:border-0">
                <li class="relative w-full md:block md:w-96">
                    <div
                        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg
                            class="w-4 h-4 text-text-500"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 20 20">
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>

                    <input
                        type="text"
                        id="search-navbar"
                        class="block w-full p-2 pl-10 text-sm border rounded-lg text-text-900 border-background-300 bg-background-100 focus:outline-background-400"
                        placeholder="What are you looking for?" />
                </li>

                <ul class="block w-full pt-2 text-right divide-y divide-background-50 md:hidden">
                    <li>
                        <a
                            href="#"
                            class="block py-2 font-bold hover:text-text-500"
                            >Profile</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block py-2 font-bold hover:text-text-500"
                            >Orders</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block py-2 font-bold hover:text-text-500"
                            >Settings</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block py-2 font-bold hover:text-text-500"
                            >Sign out</a
                        >
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
