<a
    href="#"
    class="block overflow-hidden shadow-md group">
    <div
        class="h-64 overflow-hidden rounded-t-md w-65 bg-background-50">
        <img
            src="https://m.media-amazon.com/images/I/718b9wK3eaL.jpg"
            alt=""
            class="object-cover w-full h-full transition duration-500 ease-in-out hover:scale-110" />
    </div>
    
    <div class="px-4 pt-2 pb-4 bg-background-50 rounded-b-md">
        <h3 class="text-lg font-medium text-text-900">Mouse</h3>

        <p class="text-sm text-accent-700">4499 Taka</p>

        <form class="mt-2">
            <button
                class="block w-full p-4 font-medium transition rounded bg-primary-400 hover:scale-105">
                Add to Cart
            </button>
        </form>
    </div>
</a>
