{% extends 'shop/layouts/base.html' %}

{% block title %}
  Home
{% endblock %} 

{% block content %}
  <div class="flex justify-center">
    <div class="max-w-screen-xl">
        {% include "shop/partials/categories-carousel.html" %}
        {% include "shop/partials/banner-carousel.html" %}
        {% include "shop/partials/section-banner.html" with text="Featured" image="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/19081585776035.5d85dd203e3d0.png"%}
        
        <div class="grid grid-cols-2 gap-6 mt-6 md:grid-cols-3 lg:grid-cols-5">
          {% for i in '...............' %}
            {% include "shop/partials/product-card.html" %}
          {% endfor %}
        </div>
    </div>
  </div>
{% endblock %}
