<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.4/dist/tailwind.min.css" rel="stylesheet">
  
</head>
<body>
  <div class="flex">
    <div class="bg-gray-800 w-64 h-screen">
      <ul class="py-4">

        <li class="p-4 hover:bg-gray-700">
          <a href="/" class="text-white font-semibold">Home</a>
        </li>

        <li class="p-4 hover:bg-gray-700">
          <a href="{% url 'dashboard' %}" class="text-white font-semibold">Dashboard</a>
        </li>
        <li class="p-4 hover:bg-gray-700">
          <a href="{% url 'order-list' %}" class="text-white font-semibold">Orders</a>
        </li>
        

        <li class="mb-2 ">
          <div x-data="{ open: false }">
            <button @click="open = !open" class="flex justify-between w-full items-center text-white hover:bg-gray-600 px-4 py-2 rounded">
              <span class="font-semibold">Products</span>
              

            </button>
            <!-- Dropdown Items -->
            <div x-show="open" @click.away="open = false" class="mt-2">
              <a href="{% url 'create-product' %}" class="block text-white hover:bg-gray-600 px-4 py-2">create product</a>
              <a href="{% url 'product-list' %}" class="block text-white hover:bg-gray-600 px-4 py-2">product list </a>
              
            </div>
          </div>
        </li>
        <li class="mb-2 ">
          <div x-data="{ open: false }">
            <button @click="open = !open" class="flex justify-between w-full items-center text-white hover:bg-gray-600 px-4 py-2 rounded">
              <span class="font-semibold">Category</span>
              

            </button>
            <!-- Dropdown Items -->
            <div x-show="open" @click.away="open = false" class="mt-2">
              <a href="{% url 'create-category' %}" class="block text-white hover:bg-gray-600 px-4 py-2">create category</a>
              <a href="{% url 'category-list' %}" class="block text-white hover:bg-gray-600 px-4 py-2">category list </a>
              
            </div>
          </div>
        </li>
        </ul>
    </div>
    
    {% block body %}{% endblock  %}
  </div>
  
   <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
</body>
</html>
