<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "css/output.css" %}">
        <title>{% block title %}{% endblock %} | UniqeMarketBD</title>
    </head>
    <body>
        <nav
            class="fixed top-0 left-0 z-20 w-full py-4 border-b bg-primary-300 border-background-200">
            <div
                class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
                <div class="flex gap-4">
                    {% comment %} Mobile Menu {% endcomment %}
                    <button
                        data-collapse-toggle="navbar-sticky"
                        type="button"
                        class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm rounded-lg text-text-500 md:hidden hover:bg-background-100 focus:outline-none focus:ring-2 focus:ring-background-200"
                        aria-controls="navbar-sticky"
                        aria-expanded="false">
                        <svg
                            class="w-5 h-5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 17 14">
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>

                    {% comment %} Brand Logo  {% endcomment %}
                    <a
                        href="/"
                        class="flex items-center focus:outline-primary-400">
                        <svg
                            class="w-6 h-6 mr-1 text-text-800"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20">
                            <path
                                d="M17.876.517A1 1 0 0 0 17 0H3a1 1 0 0 0-.871.508C1.63 1.393 0 5.385 0 6.75a3.236 3.236 0 0 0 1 2.336V19a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-6h4v6a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V9.044a3.242 3.242 0 0 0 1-2.294c0-1.283-1.626-5.33-2.124-6.233ZM15.5 14.7a.8.8 0 0 1-.8.8h-2.4a.8.8 0 0 1-.8-.8v-2.4a.8.8 0 0 1 .8-.8h2.4a.8.8 0 0 1 .8.8v2.4ZM16.75 8a1.252 1.252 0 0 1-1.25-1.25 1 1 0 0 0-2 0 1.25 1.25 0 0 1-2.5 0 1 1 0 0 0-2 0 1.25 1.25 0 0 1-2.5 0 1 1 0 0 0-2 0A1.252 1.252 0 0 1 3.25 8 1.266 1.266 0 0 1 2 6.75C2.306 5.1 2.841 3.501 3.591 2H16.4A19.015 19.015 0 0 1 18 6.75 1.337 1.337 0 0 1 16.75 8Z" />
                        </svg>
                        <span
                            class="self-center text-2xl font-semibold whitespace-nowrap"
                            >UniqueMarketBD</span
                        >
                    </a>
                </div>

                {% comment %} Search {% endcomment %}
                <div class="relative hidden md:block w-96">
                    <div
                        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg
                            class="w-4 h-4 text-text-500"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 20 20">
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>

                    <input
                        type="text"
                        id="search-navbar"
                        class="block w-full p-2 pl-10 text-sm border rounded-lg text-text-900 border-primary-300 bg-primary-100 focus:outline-primary-400"
                        placeholder="What are you looking for?" />
                </div>

                <div
                    class="items-center justify-between hidden w-full gap-6 md:flex md:w-auto"
                    id="navbar-sticky">
                    <ul
                        class="flex flex-col p-4 mt-4 font-medium md:p-0 md:flex-row md:space-x-8 md:mt-0">
                        <li class="relative group">
                            {% comment %} Dropdown menu trigger {% endcomment %}
                            <button
                                id="dropdownNavbarLink"
                                class="flex items-center justify-center w-full py-2 pl-3 pr-4 rounded text-text-900 md:border-0 md:hover:text-primary-700 md:p-0 md:w-auto focus:outline-primary-400">
                                Menu
                                <svg
                                    class="w-2.5 h-2.5 ml-2.5"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 10 6">
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 1 4 4 4-4" />
                                </svg>
                            </button>
                            {% comment %} Dropdown menu items {% endcomment %}
                            <div
                                id="dropdownNavbar"
                                class="absolute z-10 hidden font-normal divide-y rounded-lg shadow bg-primary-100 divide-background-100 w-36 group-hover:block">
                                <ul
                                    class="py-2 text-sm text-text-900"
                                    aria-labelledby="dropdownLargeButton">
                                    <li>
                                        <a
                                            href="#"
                                            class="block px-4 py-2 hover:bg-primary-50"
                                            >Profile</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="#"
                                            class="block px-4 py-2 hover:bg-primary-50"
                                            >Orders</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="#"
                                            class="block px-4 py-2 hover:bg-primary-50"
                                            >Settings</a
                                        >
                                    </li>
                                </ul>
                                <div class="py-1">
                                    <a
                                        href="#"
                                        class="block px-4 py-2 text-sm text-text-700 hover:bg-primary-50"
                                        >Sign out</a
                                    >
                                </div>
                            </div>
                        </li>
                    </ul>

                    {% comment %} Cart Icon {% endcomment %}
                    <a
                        class="relative transition-colors duration-300 transform text-text-700 hover:text-text-600 focus:outline-primary-400"
                        href="#">
                        <svg
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                        <span
                            class="absolute top-0 left-0 p-1 rounded-full bg-accent-500"></span>
                    </a>

                    {% comment %} Theme toggle {% endcomment %}
                    <btn
                        class="relative transition-colors duration-300 transform cursor-pointer text-text-700 hover:text-text-600 focus:outline-primary-400"
                        onclick="toggleTheme()">
                        <svg
                            class="w-5 h-5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 18 20">
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M8.509 5.75c0-1.493.394-2.96 1.144-4.25h-.081a8.5 8.5 0 1 0 7.356 12.746A8.5 8.5 0 0 1 8.509 5.75Z" />
                        </svg>
                    </btn>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}
    </body>
</html>
