<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <script defer src="{% static 'js/script.js' %}"></script>
    <script defer src="{% static 'tw-elements/dist/js/tw-elements.umd.min.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>
      {% block title %}

      {% endblock %}| UniqeMarketBD
    </title>
  </head>
  <body class="max-w-full bg-background-100 text-text-900">

    {% include 'shop/partials/header.html' %}
    
    {% block content %}
    {% endblock %}
    
    {% include 'shop/partials/footer.html' %}
  </body>
</html>
